form.account-block.padding-padrao([formGroup]='formulario', (ngSubmit)='cadastrarUsuario()')
	h3 Cadastro
	.form-group
		label Nome: *
		input.form-control#nome(type="text", formControlName='nome', maxlength=45)
	.form-group
		.form-row
			.col-6
				label CPF: *
				input.form-control#cpf(type="text", formControlName='cpf', maxlength='14', mask='000.000.000-00')
			.col-6
				label Sexo: *
				select.form-control(formControlName='sexo')
					option([ngValue]='sexo.masculino') M
					option([ngValue]='sexo.feminino') F
	.form-group
		label Email: *
		input.form-control#email(type="email", formControlName='email', maxlength=45)
	.form-group
		label Senha: *
		input.form-control#senha(type="password", [ngClass]="senhasConferem() ? 'border-green' : ''",
			formControlName='senha', placeholder="A senha deve conter no mínimo 10 caracteres",
			maxlength=45
		)
	.form-group
		label Redigite a senha: *
		input.form-control#redigiteSenha(type="password", [ngClass]="senhasConferem() ? 'border-green' : ''",
			formControlName='senhaRedigitada', placeholder="A senha deve conter no mínimo 10 caracteres",
			maxlength=45
		)
	//- TODO recaptcha
	.form-group
		button.btn.btn-primary.mr-2(type="submit", [attr.disabled]="formulario.invalid ? 'disabled' : null") Cadastrar
		span Já possui cadastro? Faça login
			a((click)='goToLogin()')  aqui.
	.form-group
		span É professor e tem algo de bom para compartilhar? Cadastre-se
			a((click)='goToCadastroProfessor()')  aqui.