form#perfil.padding-padrao([formGroup]='formulario', (submit)='editarUsuario()')
	h3 Perfil
	.form-group
		label Nome:
		input.form-control#nome(type="text", [attr.disabled]="isEditing() ? null : true ", formControlName='nome', maxlength=45)
	.form-group
		.form-row
			.col-6
				label CPF:
				input.form-control#cpf(type="text", [attr.disabled]="isEditing() ? null : true ", formControlName='cpf', maxlength=11, mask='000.000.000-00')
			.col-6
				label Sexo:
				select.form-control([attr.disabled]="isEditing() ? null : true ", formControlName='sexo')
					option([ngValue]='sexo.masculino') M
					option([ngValue]='sexo.feminino') F
	.form-group
		label Email:
		input.form-control#email(type="email", [attr.disabled]="isEditing() ? null : true ", formControlName='email', maxlength=45)
	.form-group
		label Senha antiga: *
		input.form-control#senhaAntiga(type="password",
			formControlName='senhaAntiga',
			maxlength=45,
			[attr.disabled]="isEditing() ? null : true "
		)
	.form-group
		label Nova senha: *
		input.form-control#senha(type="password", [ngClass]="senhasConferem() ? 'border-green' : ''",
			formControlName='senha',
			maxlength=45,
			placeholder="A senha deve conter no mínimo 10 caracteres",
			[attr.disabled]="isEditing() ? null : true "
		)
	.form-group
		label Redigite a nova senha: *
		input.form-control#redigiteSenha(type="password", [ngClass]="senhasConferem() ? 'border-green' : ''",
			formControlName='senhaRedigitada',
			maxlength=45,
			placeholder="A senha deve conter no mínimo 10 caracteres",
			[attr.disabled]="isEditing() ? null : true "
		)

	.form-group
		button.btn.btn-primary.mr-2(type="button", (click)='setIsEditing(true)', *ngIf='!isEditing()') Editar perfil
		button.btn.btn-primary.mr-2(type="submit", *ngIf='isEditing()', [attr.disabled]="formulario.invalid ? 'disabled' : null") Salvar alterações
